*{
    padding: 0;
}
body {
    background-color: SteelBlue;
    margin: 0px;
    width: 100%;
}

canvas 
{
    position: absolute;
    top: 25px;
    left: 28%;
    border: 2px solid white;
    background-color: black;
    box-shadow: 2px 2px 3px black;
}
#capa{
    position: absolute;
    /*background-color: gray;
    width: 400px;
    height: 50px;
    border-radius: 8px;
    border: 1 px solid white;
    box-shadow: 1px 1px 2px white;*/
    top: 45%;
    left: 35%;
    overflow: hidden;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#capa h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: default;
}

#arriba{
    color: rgb(46, 46, 46);
    position: absolute;
    top: 40%;
    left: 85%;
    opacity: 80%;
    border: 2px solid rgb(46, 46, 46);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}
#izquierda {
    color: rgb(46, 46, 46);
    position: absolute;
    top: 50%;
    left: 80%;
    opacity: 80%;
    border: 2px solid rgb(46, 46, 46);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}
#derecha {
    color: rgb(46, 46, 46);
    position: absolute;
    top: 50%;
    left: 90%;
    opacity: 80%;
    border: 2px solid rgb(46, 46, 46);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}
#abajo {
    color: rgb(46, 46, 46);
    position: absolute;
    top: 60%;
    left: 85%;
    opacity: 80%;
    border: 2px solid rgb(46, 46, 46);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}
#vertical{
    color: rgb(19, 19, 19);
    background-color: rgb(19, 19, 19);
    width: 68px;
    height: 200px;
    position: absolute;
    top: 39%;
    left: 84.5%;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}
#horizontal{
    color: rgb(19, 19, 19);
    background-color: rgb(19, 19, 19);
    width: 200px;
    height: 68px;
    position: absolute;
    top: 49%;
    left: 79.5%;
    border-radius: 10px;
}

#circulo{
    color: black;
    background-color: rgb(14, 13, 13);
    width: 65px;
    height: 65px;
    position: absolute;
    top: 49%;
    left: 84.5%;
    border-radius: 999px;
    box-shadow: 1px 1px 3px black;
}

#formulario{
    position: absolute;
    top: 40%;
    width: 350px;
    height: 100px;
    left: 15px; 
}
#formulario input, button{
    display: block;
    width: 250px;
    margin-bottom: 10px;
    height: 20px;
    font-family: calibri;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}
#formulario button:hover{
    background-color: rgb(1, 114, 114);
}
#name::placeholder {
    color: white;
}
#mail::placeholder {
    color: white;
}

#message{
    resize: none;
    width: 250px;
    height: 80px;
    font-family: calibri;
    background-color: darkcyan;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}
#message::placeholder {
    color: white;
}

#comentarios{
    font-family: calibri;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 38%;
    left: 40px;
}

